/*******General Rules******/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
body {
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
margin:0;
padding: 0;
overflow-x: hidden;
text-align: left;
line-height: 1.4;
  }

/*******Colours******/
:root {
--white: #ffffff;
--black: #1c1c1c;
--strongGrey: #5e5d5d;
--sherpaBlue: #084C61;
--lightSeaGreen: #23B5B5;
--grey: #f1f1f1;
--blue: #104c90;
}

/*******NAVBAR******/
/*navigation menu */
.icon {
    background-color: var(--white);
    padding:1.5em;
    display: flex;
    align-items: flex-end;
}

.topnav {
     /*overflow: hidden;*/
    background-color: var(--white);
     /*position: relative;*/
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none; 
    text-align: right; 
  }

  /* Style navigation menu links */
.topnav a {
  padding: 0.5em;
  padding-top: 2em;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 400;
  display: block; 
  background-color: var(--white);
  color: var(--strongGrey);
  display: inline-flex;
  font-weight: 600;
  }
  
  /* Style the hamburger menu */
  i.fa.fa-bars {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color: #5e5d5d;
    cursor: pointer;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 1;
    list-style: outside none none;
    margin: 1em auto;
    padding: .5em;
    text-align: right;
    text-decoration: none;
    text-rendering: auto;
    background: var(--black);
    color: var(--lightSeaGreen) !important;
    left: 0em;
    top: 1em; 
  }
  

  /*
  #mylinks .icon {
  background: var(--black);
    color: var(--lightSeaGreen);
    padding: 1em;
    left: 1.5em;
    top: 1em; 
    position:relative;
    /*display: none;*/
    }
  */
 
  
  /*background color on mouse-over */
  .topnav a:hover {
    color: var(--black);
  }
  
 .logo {
   max-width: 130px;
   padding: 1em;
 }

 

  
  /*******Header Session******/
  header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
    url(../images/coding-team-working-on-laptops.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
      }
  
      .hero-heading h2 {
        color: var(--white);
          font-size: 5rem;
          font-weight: 600;
      }

      .hero-heading span {
         color: var(--lightSeaGreen);
          font-size: 5rem;
          font-weight: 800;
          padding:0;
          padding-right:2px;
      }

      .hero-heading {
        text-align: left;
        padding-left: 7em;
       padding-top: 5em;
       margin: 0;
       margin: 0 auto;
        display: inline-block;
      }

/*-----------------------Start----------------------------*/
/*-------------------/***HEADER_BTN***-----------*/
.btn-learn-more {
  padding: 3em 2em;
 
}

.btn a {
    display:inline-block;
    padding:0.5em 1.2em;
    margin:0 0.5em 0.5em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color: var(--white);
    background-color:var(--lightSeaGreen);
    text-align:center;
    transition: all 0.2s;
    font-size: 1.2rem;
    }

    .btn a:hover{
    background-color:var(--lightSeaGreen);
    color: var(--black);
    }
/*---------------------------------------------------*/
   
/*-----------------------Start----------------------------*/
/*-------------------/***@MediaQuery on Header Session***-----------*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 90%;
  }

  .topnav a {
    display:grid;
    margin: 0;
    padding: 0;
    }

  .mission,
  .team-content {
    width: 90%;
    padding-left: 1em;
  }
  .hero-heading h2 {
    font-size: 2rem;
    font-weight: 700;  
    text-align: left;
      }
      .hero-heading span {
        color: var(--lightSeaGreen);
         font-size: 3rem;
         font-weight: 800;
       
     }
     .hero-heading {
        text-align: left;
        padding-left: 1em;
       padding-top: 5em;
       margin: 0;
       margin: 0 auto;
        display: inline-block;
      }
      
    }


@media all and (max-width:30em){
     a.btn {
    display:block;
    margin:0.2em auto;
     }

    }
      
/*---------------------------/****End @MediaQuery****----------------*/


/*-------------------------------------------------------------------*/
/*------------/Start***BackgroundColors and FontColours***-----------*/
.section-1, 
.session-join-learning-circle,
.events {
  background-color: var(--sherpaBlue);
  color: var(--white);
}

.card {
  background-color: var(--black);
}
.section-2,
.section-6,
.contribute-text-1 {
  background-color: var(--black);
  color:var(--white);
}

.section-3,
.section-9,
.contribute-text-2,
.event-session {
  background-color: var(--grey);
  color: var(--blue);
}

.section-4,
.session-approach,
.session-social-media,
.contribute-text-3,
.resources {
  background-color: var(--lightSeaGreen);
  color: var(--white);
}

.span,
.team-icon {
  color: var(--lightSeaGreen);
  font-size: 1.2rem;
}

.span::after{
  color: var(--sherpaBlue);
}
.footer {
  background-color: var(--white);
  color: #1c1c1c;
}
/*---------------------------------------------------*/

/*-----------------------Start----------------------------*/
/*-------------------/***Images***-----------*/
.about-2,
.about-picture,
.circle-pic,
.contribute-picture-1,
.contribute-picture-2,
.contribute-picture-3 {
height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
      }

.about-2 {
  background-image:url(../images/pexels-canva-studio.png);
}

.about-picture {
  background-image: url(../images/coding-team-working-on-laptops.jpg);
}

.circle-pic {
  background-image: url(../images/two-people-learning-to-code.png);
}

.contribute-picture-1 {
  background-image: url(../images/pexels-canva-studio.png);
}

.contribute-picture-2 {
  background-image: url(../images/pexels-thisisengineering-3861964\ 2.png);
}

.contribute-picture-3 {
  background-image: url(../images/women-on-laptops-around-table.jpg);
}

/*Team Pictures*/
.pic {
  border-radius: 50%;
  text-align: center;
  margin-top: 2em;
}
/*---------------------------------------------------*/


/*-----------------------Start----------------------------*/
/*-------------------/***Padding and Margins***-----------*/
.section-1,
.section-2,
.section-6,
.section-9,
.mission,
.session-social-media,
.resources, 
.session-approach,
.events {
  padding: 6em 0.5em;
  margin: 0 auto;
}

.section-1 {
  padding-left: 2em;
}
/*Icons => About Page*/
.session-learning {
  padding: 6em 1em;
}

.contribute-text-1,
.contribute-text-3,
.resources-text {
  padding: 6em 0 6em 1.5em;
  margin: 0 auto;
}

.contribute-text-2,
.learning-text {
  padding: 4.8em 0 4.8em 1.5em;
}

.section-2,
.section-9 {
  padding-top:20%;
  padding-left: 2em;
}

.mission,
.approach,
.session-learning,
.session-social-media { 
  margin: 0 auto; 
}

.team-subtitle {
  margin-top: 2em;
  text-align: center;
}

.resource-subtitle {
margin-left: .95em;
}

.event-subtitle,
.subtitle {
  margin-left: .7em;
}

.learning-circuit p {
  padding-left: 1em;
  margin-bottom: 1.5em;
}

.team-content {
  padding: 1em 2em;
  margin-bottom: 1em;
}

.team-session {
  text-align: left;
}
/*Event Page/Social Media Section*/
.session-social-media {
  padding: 3em 1em;
  margin: 0 auto;
  text-align: center;
}

.card, 
.card-text,
.card-title {
  margin: 2em auto;
  padding: 0em 2em 0 2em;
  text-align: center;
}


/*Footer*/
.footer {
  padding: 3em 0 1em 0;
}

/***Icons and Learning-Session***/
#icon-learning { 
  max-width: 150px;
}

#icon-learning,
.learning-circuit {
  margin: 0 auto;
  text-align: center;
  padding-left: 2em;
}

/***Icons//Social Media***/
.socials {
  box-sizing: border-box;
  text-align: right;
}

.socials i {
  color: var(--lightSeaGreen);
  font-size: 2.7rem;
  padding: 0.5em .8em 0 0;

}
/*---------------------------------------------------*/

/*-----------------------Start----------------------------*/
/*-------------------******Typography*********-----------*/
h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  padding-top: 1em;
  font-weight: 500;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
  text-align: center;
}


p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-right: 0.6em;
}

.resources-text p,
.event-text p {
  text-align: center;
}

.section-1,
.section-2,
.section-3, 
.section-4,
.section-9,
.mission,
.session-social-media,
.resources, 
.session-approach,
.events {
  font-size: 1.5rem;
  font-weight: 700;
}

/*contribute page*/
.text {
  font-size: 1.2rem;
    font-weight: 500;
}

/*Footer*/
.footer p {
  font-size: 0.9rem;
}

.madebyleila {
  font-size: 1rem;
  text-align: center;
  color: var(--strongGrey);
}
/*---------------------------------------------------*/


/*-----------------------Start----------------------------*/
/*----------------*** Layout Event and Resource Page*********---------*/

/*class for Event and Resource Page*/
.event-session {
  background-color: var(--grey);
  display: flex;
  margin: 1em auto;
  width: 50vw;
  height: 30vh ;
  border: var(--strongGrey) solid 3px;
  align-items: center;
}

.event-session p {
  text-align: center;
  padding-top: 1em;
}
/*---------------------------------------------------*/


/*-----------------------Start----------------------------*/
/*-----------Event Page/Social Media Section*********-----------*/

.session-social-media {
  padding: 3em 1em;
  margin: 0 auto;
  text-align: center;
}

.session-social-media h6,
.resources-text h6 { 
font-size: 2rem;
padding-top: 2em;
}

.resources-social-media i {
  color: var(--white);
  font-size: 2.7rem;
  padding-right: 0.5em;
  margin-top: 1em;
  }

/*--------------------------End-------------------------*/