/*******General Rules******/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
<<<<<<< HEAD
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: left;
  line-height: 1.4;
}

/*******Colours******/
:root {
  --white: #ffffff;
  --black: #1c1c1c;
  --strongGrey: #5e5d5d;
  --sherpaBlue: #084c61;
  --lightSeaGreen: #23b5b5;
  --grey: #f1f1f1;
  --blue: #104c90;
=======
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
body {
font-family: 'Poppins', sans-serif;
font-weight: 400;
font-size: 16px;
margin:0;
padding: 0;
overflow-x: hidden;
text-align: left;
line-height: 1.4;
  }

/*******Colours******/
:root {
--white: #ffffff;
--black: #1c1c1c;
--strongGrey: #5e5d5d;
--sherpaBlue: #084C61;
--lightSeaGreen: #23B5B5;
--grey: #f1f1f1;
--blue: #104c90;
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
}

/***************NAVBAR****************
navigation menu ****/

a .icon {
<<<<<<< HEAD
  background-color: var(--white);
  padding: 1.5em;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: var(--white);
  position: sticky;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: inline;
  text-align: right;
  margin-right: 0;
}

/* Style navigation menu links */
.topnav a {
  padding-right: 0.5em;
  padding-top: 3em;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  display: block;
  color: var(--strongGrey);
  display: inline-flex;
  font-weight: 700;
}
.topnav a:hover {
  color: var(--lightSeaGreen);
}

i.fa.fa-bars {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #0a0a0a;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: none;
  line-height: 1;
  list-style: outside none none;
  margin: 0.5em auto;
  padding: 0.5em;
  text-align: right;
  text-decoration: none;
  text-rendering: auto;
  background: var(--black);
  color: var(--lightSeaGreen) !important;
  left: 0em;
  top: 1em;
}

.logo {
  max-width: 130px;
  padding: 2em 1em;
}

/*******Header Session******/
header {
  background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
    url(../images/women-on-laptops-around-table.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.hero-heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 600;
}

.hero-heading span {
  color: var(--lightSeaGreen);
  font-size: 5rem;
  font-weight: 800;
  padding: 0;
  padding-right: 2px;
}

.hero-heading {
  text-align: left;
  padding-left: 7em;
  padding-top: 10em;
  margin: 0 auto;
  display: inline-block;
}

/*-----------------------Start----------------------------*/
/*-------------------/***HEADER_BTN***-----------*/
.btn-learn-more {
  padding: 3em 2em;
  text-align: left;
}

.btn a {
  display: inline-block;
  padding: 0.5em 1.2em;
  margin: 0 0.5em 0.5em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: var(--white);
  background-color: var(--lightSeaGreen);
  text-align: center;
  transition: all 0.2s;
  font-size: 1.2rem;
}

.btn a:hoverm {
  background-color: var(--lightSeaGreen);
  color: var(--black);
}
/*---------------------------------------------------*/

/*-----------------------Start----------------------------*/
/*-------------------/***@MediaQuery on Header Session***-----------*/
@media only screen and (max-width: 827px) {
  /* For mobile phones: */
  [class="col-"] {
    width: 90%;
  }

  /*NAVBAR*/
  .topnav #myLinks {
    display: none;
    text-align: right;
  }

  .topnav a {
    display: grid;
    margin-left: 2px;
    padding: 0;
  }

  i.fa.fa-bars {
    display: inline;
    margin: 2em auto;
  }

  /**********/
  .mission,
  .team-content,
  .resources {
    width: 90%;
    padding-left: 1em;
    margin: 0 auto;
  }

  .hero-heading h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  .hero-heading span {
    color: var(--lightSeaGreen);
    font-size: 3rem;
    font-weight: 800;
  }

  .hero-heading {
    padding-left: 1em;
    padding-bottom: 5em;
    margin: 0 auto;
    display: inline-block;
  }
}

@media all and (max-width: 30em) {
  a.btn {
    display: block;
    margin: 0.2em auto;
  }
}
/*---------------------------/****End @MediaQuery****----------------*/

/*-------------------------------------------------------------------*/
/*------------/Start***BackgroundColors and FontColours***-----------*/
.section-1,
.session-join-learning-circle,
.events {
  background-color: var(--sherpaBlue);
  color: var(--white);
}

.card {
  background-color: var(--black);
}

.section-2,
.section-6,
.contribute-text-1 {
  background-color: var(--black);
  color: var(--white);
}

.section-3,
.section-9,
.contribute-text-2,
.event-session {
  background-color: var(--grey);
  color: var(--blue);
}

.section-4,
.session-approach,
.session-social-media,
.contribute-text-3,
.resources {
  background-color: var(--lightSeaGreen);
  color: var(--white);
}

.span,
.team-icon {
  color: var(--lightSeaGreen);
  font-size: 1.5rem;
}

.span::after {
  color: var(--sherpaBlue);
}

footer {
  color: #1c1c1c;
  padding: 3em 0em;
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/
/*-------------------/***Images***-----------*/
.about-2,
.about-picture,
.circle-pic,
.contribute-picture-1,
.contribute-picture-2,
.contribute-picture-3 {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.about-2 {
  background-image: url(../images/pexels-canva-studio.png);
}

=======
    background-color: var(--white);
    padding:1.5em;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: 0;
}


.topnav {
     overflow: hidden;
    background-color: var(--white);
     position: sticky;
    
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: inline; 
    text-align: right; 
    margin-right: 0;
  }

  /* Style navigation menu links */
.topnav a {
  padding-right: 0.5em;
  padding-top: 3em;
  margin: 0 auto;
  text-decoration: none;
  font-weight: 600;
  display: block; 
  color: var(--strongGrey);
  display: inline-flex;
  font-weight: 700;
  }
  .topnav a:hover {
    color: var(--lightSeaGreen);
  }
  
i.fa.fa-bars {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #0a0a0a;
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: none;
  line-height: 1;
  list-style: outside none none;
  margin: 0.5em auto;
  padding: .5em;
  text-align: right;
  text-decoration: none;
  text-rendering: auto;
  background: var(--black);
  color: var(--lightSeaGreen) !important;
  left: 0em;
  top: 1em; 
  }
  
  /*
  #mylinks .icon {
  background: var(--black);
    color: var(--lightSeaGreen);
    padding: 1em;
    left: 1.5em;
    top: 1em; 
    position:relative;
    display: none;
    }
  */

  /*background color on mouse-over */
   
  
.logo {
  max-width: 130px;
  padding: 2em 1em;
}

  /*******Header Session******/
header {
background-image: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)),
  url(../images/women-on-laptops-around-table.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
  
.hero-heading h2 {
  color: var(--white);
  font-size: 5rem;
  font-weight: 600;
}

.hero-heading span {
  color: var(--lightSeaGreen);
  font-size: 5rem;
  font-weight: 800;
  padding:0;
  padding-right:2px;
}

.hero-heading {
  text-align: left;
  padding-left: 7em;
  padding-top: 10em;
  
  margin: 0 auto;
  display: inline-block;
}

/*-----------------------Start----------------------------*/
/*-------------------/***HEADER_BTN***-----------*/
.btn-learn-more {
  padding: 3em 2em;
 text-align: left;
}

.btn a {
    display:inline-block;
    padding:0.5em 1.2em;
    margin:0 0.5em 0.5em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:400;
    color: var(--white);
    background-color:var(--lightSeaGreen);
    text-align:center;
    transition: all 0.2s;
    font-size: 1.2rem;
    }

.btn a:hoverm{
    background-color:var(--lightSeaGreen);
    color: var(--black);
}
/*---------------------------------------------------*/
   
/*-----------------------Start----------------------------*/
/*-------------------/***@MediaQuery on Header Session***-----------*/
@media only screen and (max-width: 827px) {
  /* For mobile phones: */
  [class="col-"] {
    width: 90%;
}

/*NAVBAR*/
.topnav #myLinks {
  display: none; 
  text-align: right;    
}

.topnav a {
  display:grid;
  margin-left: 2px;
  padding: 0;
}

i.fa.fa-bars {
  display: inline;
  margin: 2em auto;
} 

/**********/
.mission,
.team-content,
.resources {
  width: 90%;
  padding-left: 1em;
  margin: 0 auto;
}
  
.hero-heading h2 {
  font-size: 2rem;
  font-weight: 700;  
  
}
  
.hero-heading span {
  color: var(--lightSeaGreen);
  font-size: 3rem;
  font-weight: 800; 
}

.hero-heading {
  padding-left: 1em;
  padding-bottom: 5em;
  margin: 0 auto;
  display: inline-block;
}
  }

@media all and (max-width:30em){
  a.btn {
  display:block;
    margin:0.2em auto;
}
 }   
/*---------------------------/****End @MediaQuery****----------------*/


/*-------------------------------------------------------------------*/
/*------------/Start***BackgroundColors and FontColours***-----------*/
.section-1, 
.session-join-learning-circle,
.events {
  background-color: var(--sherpaBlue);
  color:var(--white);
}

.card {
  background-color: var(--black);
}

.section-2,
.section-6,
.contribute-text-1 {
  background-color: var(--black);
  color:var(--white);
}

.section-3,
.section-9,
.contribute-text-2,
.event-session {
  background-color: var(--grey);
  color: var(--blue);
}

.section-4,
.session-approach,
.session-social-media,
.contribute-text-3,
.resources {
  background-color: var(--lightSeaGreen);
  color: var(--white);
}

.span,
.team-icon {
  color: var(--lightSeaGreen);
  font-size: 1.5rem;
}

.span::after{
  color: var(--sherpaBlue);
}

footer {
  color: #1c1c1c;
  padding: 3em 0em;
}
/*---------------------------------------------------*/

/*---------------------------------------------------*/
/*-------------------/***Images***-----------*/
.about-2,
.about-picture,
.circle-pic,
.contribute-picture-1,
.contribute-picture-2,
.contribute-picture-3 {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.about-2 {
  background-image:url(../images/pexels-canva-studio.png);
}

>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
.about-picture {
  background-image: url(../images/coding-team-working-on-laptops.jpg);
}

.circle-pic {
  background-image: url(../images/christina-wocintechchat-com-FPQlXQtjkqU-unsplash.jpg);
}

.contribute-picture-1 {
  background-image: url(../images/pexels-ketut-subiyanto-4473903.jpg);
}

.contribute-picture-2 {
  background-image: url(../images/pexels-thisisengineering-3861964\ 2.png);
}

.contribute-picture-3 {
  background-image: url(../images/pexels-mentatdgt-1569076.jpg);
}

/*Team Pictures*/
.pic {
  border-radius: 50%;
  text-align: center;
  margin-top: 2em;
}
/*---------------------------------------------------*/

<<<<<<< HEAD
=======

>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
/*-----------------------------------------------*/
/*-------------/***Padding and Margins***-----------*/
.section-1,
.section-2,
.section-6,
.section-9,
.section-5,
.mission,
.session-social-media,
<<<<<<< HEAD
.resources,
=======
.resources, 
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
.session-approach,
.events {
  padding: 6em 0.5em;
  margin: 0 auto;
}

.section-1 {
  padding-left: 2em;
}
/*Icons => About Page*/
.session-learning {
  padding: 6em 1em;
}

.contribute-text-1,
.contribute-text-3,
.resources-text {
  padding: 6em 0 6em 1.5em;
  margin: 0 auto;
}

.contribute-text-2,
.learning-text {
  padding: 3em 0 3em 1.5em;
}

.section-2,
.section-9 {
<<<<<<< HEAD
  padding-top: 20%;
=======
  padding-top:20%;
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
  padding-left: 2em;
}

.mission,
.approach,
.session-learning,
<<<<<<< HEAD
.session-social-media {
  margin: 0 auto;
=======
.session-social-media { 
  margin: 0 auto; 
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
}

.team-subtitle {
  margin-top: 2em;
  text-align: center;
}

.resource-subtitle {
<<<<<<< HEAD
  margin-left: 0.95em;
=======
margin-left: .95em;
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
}

.event-subtitle,
.subtitle {
<<<<<<< HEAD
  margin-left: 0.7em;
=======
  margin-left: .7em;
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
}

.learning-circuit p {
  padding-left: 1em;
  margin-bottom: 1.5em;
}

.team-content {
  padding: 1em 2em;
  margin-bottom: 1em;
}

.team-session {
  text-align: left;
}

/*Event Page/Social Media Section*/
.session-social-media {
  padding: 3em 1em;
  margin: 0 auto;
  text-align: center;
}

<<<<<<< HEAD
.card,
=======
.card, 
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
.card-text,
.card-title {
  margin: 2em auto;
  padding: 0em 2em 0 2em;
  text-align: center;
}

/*Footer*/
.footer {
  padding: 3em 0 1em 0;
}

/***Icons and Learning-Session***/
<<<<<<< HEAD
#icon-learning {
=======
#icon-learning { 
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
  max-width: 150px;
}

#icon-learning,
.learning-circuit {
  margin: 0 auto;
  text-align: center;
  padding-left: 2em;
}

/***Icons//Social Media***/
.socials {
  box-sizing: border-box;
  text-align: right;
}

.socials i {
  color: var(--lightSeaGreen);
  font-size: 2.7rem;
<<<<<<< HEAD
  padding: 0.5em 0.3em 0 0;
=======
  padding: 0.5em .3em 0 0;

>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
}

/*---------Event Page/Social Media Section*****-----*/

.session-social-media {
  padding: 3em 1em;
  margin: 0 auto;
  text-align: center;
}

.resources-social-media i {
  color: var(--white);
  font-size: 2.7rem;
  padding-right: 0.5em;
  margin-top: 1em;
}

/*--------------------------End----------------------*/

<<<<<<< HEAD
=======

>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
/*---------------------------------------------------*/
/*-------------------******Typography*********--------*/
h2 {
  font-size: 3rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
  padding-top: 1em;
  font-weight: 500;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-size: 1.5rem;
  text-align: center;
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-right: 0.6em;
}

.resources-text p,
.event-text p {
  text-align: center;
}

.section-1,
.section-2,
<<<<<<< HEAD
.section-3,
=======
.section-3, 
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
.section-4,
.section-9,
.mission,
.session-social-media,
<<<<<<< HEAD
.resources,
=======
.resources, 
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
.session-approach,
.events {
  font-size: 1.5rem;
  font-weight: 700;
}

/*contribute page*/
.text {
  font-size: 1.2rem;
<<<<<<< HEAD
  font-weight: 500;
=======
    font-weight: 500;
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
}

/*Event Page/Social Media Section*/
.session-social-media h6,
<<<<<<< HEAD
.resources-text h6 {
=======
.resources-text h6 { 
>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
  font-size: 2rem;
  padding-top: 2em;
}

/*Footer*/
.footer p {
  font-size: 0.9rem;
}

.madebyleila {
  font-size: 1rem;
  text-align: center;
  color: var(--strongGrey);
}
/*---------------------------------------------------*/

#typed {
<<<<<<< HEAD
  color: var(--white);
}
=======
  color:var(--white);
}


>>>>>>> d21700b07e60c756a488ab69f356b2669ea42a8f
